/* body{
    font-size: 20px;
    font-family: sans-serif;
    color: #141010;
    height: 100px;
    padding: 30px;
    
}
.question{
    font-weight: 600;
    
    
}
.answer{
    margin-bottom: 30px;
}
.answer label{
    display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: orange;
    color:rgb(77, 37, 37);
    border:0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: rgb(195, 31, 31);
    border-radius: 12px;
}
.container{
margin-top: 50px;
border-radius: 20px;
padding: auto;
width:250px;
height: 500px;
background-color:lightblue;

}

    
      
 */
